*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/AndroidJSCore/libs
/AndroidJSCore/src/main/jniLibs
/AndroidJSCore/src/main/java/org/liquidplayer/hemroid